.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

h1 {
    padding: 10px;
    font-size: 22px;
}

.lottie-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

lottie-player {
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
}
